*{
    box-sizing: border-box;
}

body {
    width: 1024px;
    margin: 0 auto
}
h1 {
    font-size: 32px;
}
span {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
hr {
    background: #BFBFBF;
    border: 0px;
    height: 1px;
}
.search {
    border: 0px;
    border-radius: 10px;
    font-size: 12px;
    width: 55px;
    height: 35px;
}
.article {
    width: 500px;
    font-size: 12px;
    color: #535353;
}

input{
    border : 0px;
    border-bottom: 2px solid #d7d7d7;
    width: 375px;
    height : 45px;
    font-size: 16px;
    background-color: #f5f5f5;
}

/* 클릭했을때 아웃라인 안뜨게 */
input:focus{
    outline:none;
}

.writebtn {
    width: 125px;
    height: 40px;
    margin: 15px 5px 0 45px;
    border: 0px;
    border-radius: 10px;
    background-color: #ccd1e7;
    font-size: 16px;
    font-weight: bold;
   
    animation-name : BtnDown;
    animation-duration: 0.3s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

.writebtn:hover {
    animation-name : BtnUp;
    animation-duration: 0.3s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor:pointer;
}

@keyframes BtnUp {
    0%{
        position: relative;
        top:0px;
        left:0px;
    }
    100%{
        position: relative;
        top:-5px;
        left:-5px;
    }
}

@keyframes BtnDpwn {
    0%{
        position: relative;
        top:-5px;
        left:-5px;
    }
    100%{
        position: relative;
        top:0px;
        left:0px;
    }
}

.deletebtn {
    width: 125px;
    height: 40px;
    margin: 15px 5px 0 45px;
    border: 3px solid #ccd1e7;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top:0px;
    left:0px;

    transition: all 0.3s ease 0s;
}

.deletebtn:hover {
    background-color: red;
    position:relative;
    top : -5px;
    left:-5px;
    cursor:pointer;

    /* transition-property: background-color, top, left;
    transition-duration: 0.3s, 0.2s, 0.2s;
    transition-timing-function: ease, ease-in-out, ease-in;
    transition-delay: 0,0,0; */


}


a {
    text-decoration: none;
    color : black;
    font-weight: bold;
}

a:LINK {
    color : black;
}

a:visited {
    color: #ccd1e7;
}

a:hover{
    color : purple;
}

.center{
    /* text-align: center; */
    width: fit-content;
    margin: 0 auto;
}

