body{
  /* background-color: black; */
}

a{
  text-decoration-line: none;
  color: black;
}

/* nav클래스 flex로 정렬 */
.nav{
  /* background-color: aqua; */
  height:5rem;
  width:100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  /* opacity: 0.5; */
}


/* 하이브랩 로고 이미지 제어 */
.leftNav a img{
  position:relative;
  width:7.5rem;
  left: 2rem;
}


/* 중간nav바 제어 */
.midNav{
  position:relative;
  right:10rem;
}

.midNavMenu{
  padding:0.3rem;
}

#midNavLine{
  position : absolute;
  border: 0.1rem solid black;
  margin-top: 0.2rem;

  /* 굳이 css에서 설정 안해도 js로 설정하면 되더라 */
  /* display:none; */ 
}


.rightNav{
  position:relative;
  right:3rem;
}

.rightNavMenu{
  padding:0.3rem;
}

.pageNumver{
  position: fixed;
  font-size: 1.5rem;
  top:75%;
  left:5%;
}

.buttonUpDown{
  position:fixed;
  top:87%;
  left:5%;
}

.down{
  transform: rotate( 180deg );
}

button{
  font-size: 1rem;
  display: inline-block;
  margin-right:-0.4rem;
}

.footer{
  position:fixed;
  top:92%;
  right:5%;
  font-size: 0.8rem;
}

.circle{
  border : 1px solid;
  width : 11rem;
  height : 11rem;
  border-radius: 5.5rem;
  background-color: gray;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top : 50%;
  left: 15%;
  opacity: 0.5;
  color:white;
}

.circleImage, .circleText{
  margin-top: 0.5rem;
}

.rightNavMenu::after{
  content: "·";
  margin-left:0.8rem;
}

.rightNavMenu:last-child::after{
  content: "";
}