@import "./reset.css";

.slides {
  height: 100vh;
  overflow: hidden;
}

.slide {
  height: 100vh;
  scroll-behavior: smooth;
}



.nav {
  position : fixed;
  width:100vw;
  height:1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding : 3rem;
  background-color: black;
}

a{
  text-decoration: none;
  color:white;
  padding: 1rem;
}

.nav1{
  font-family: Roboto,'Noto Sans KR','Apple SD Gothic Neo',sans-serif;
}

.nav2{
  margin-right: 200px;
}