/* 전체 스타일 */
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  background-color: black;
}

/* 제목 스타일 */
h1 {
  margin: 20px;
  font-size: 40px;
  text-align: center;
  color: white;
}

/* 로그인 폼 스타일 */
.login {
  margin: 20px auto;
  width: 400px;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login input[type="text"],
.login input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  border: none;
  background-color: #eee;
}

.login button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 3px;
  border: none;
  background-color: #03c75a;
  color: #fff;
  font-size: 16px;
}

/* 상단 컨테이너 스타일 */
.top-container {
  margin: 20px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top-container .search {
  font-size: 24px;
  font-weight: bold;
}

.top-container .text-area {
  flex: 1;
  margin: 0 20px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #eee;
}

.top-container button {
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #03c75a;
  color: #fff;
  font-size: 16px;
}

/* 하단 컨테이너 스타일 */
.bottom-container {
  margin: 20px auto;
  width: 80%;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bottom-container p {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.bottom-container h3 {
  margin: 20px 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.bottom-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bottom-container li {
  margin: 10px 0;
}

.bottom-container li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}


button:hover {
  cursor: pointer;
  background-color: red;
  position: relative;
  top: -5px;
  left: -5px;

  transition-property: background-color, top, left;
  transition-duration: 1s, 1s, 1s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0, 0, 0;

  /* transition: all 2s ease-in-out 0s; */
}


/* 사진 움직이는 에니메이션 정신사나워서 주석처리 */
.sleep {
  position: relative;
  animation-name: text_animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  margin-left: 40px;
}

.img{
  color : white;
  font-size:20px;
  /* display: */
}

@keyframes text_animation {
  0% {
    left: 0px;
  }

  50% {
    left: 780px;
  }

  100% {
    left: 0px;
  }
}