{% extends 'nav.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/블로그.css' %}" type="text/css">
</head>


<hr>
  <h1>{{ post_detail.title }}</h1>
  <h3>{{ post_detail.body }}</h3>
  <br>
  <p>최근 업데이트 일자 : {{ post_detail.pub_date }}</p>


  <div class="create">
    <a href="{% url 'create' %}"><button>오늘의 한마디 글쓰기</button></a>
    <a href="{% url 'update' post_detail.id %}"><button>수정하기</button></a>
    <a href="{% url 'delete' post_detail.id %}"><button>로그아웃 (로그아웃 시 오늘의 한마디 삭제)</button></a>
  </div>

  <br><br><hr>
  <div class="fixed-wrapper">
    <div class="fixed-parent">
      <div class="fixed">
        <div class="text-center">블로그 만족도 평가</div>
        <button>나쁨</button>
        <button>보통</button>
        <button>좋음</button>
      </div>
    </div>
  </div>

  <div class="sleep">고양이 사진 전시관😴 <br /></div>

  <div class="cat_img">
    <img src="{% static 'image/아기고양이.webp' %}" alt="아기고양이" width="200px" />
    <img src="{% static 'image/고양이.jfif' %}" alt="아기고양이" width="200px" />
    <img src="{% static 'image/고양이2.jpg' %}" alt="아기고양이" width="200px" />
    <img src="{% static 'image/고양이3.jpg' %}" alt="아기고양이" width="200px" />
    <img src="{% static 'image/고양이4.jpg' %}" alt="아기고양이" width="200px" />
  </div>

  <div class="top-container">
    <p class="search">글찾기🏸</p>
    <input type="text" class="text-area" />
    <button>검색</button>
  </div>

  <div class="bottom-container">
    <div>
      <h3>카테고리💡</h3>
    </div>

    <ul>
      <li><a href="">자유게시판</a></li>
      <li><a href="">앨범</a></li>
      <li><a href="">오늘의 일기</a></li>
    </ul>

    <div>
      <h3>최신글⏰</h3>
    </div>

    <ul>
      <li><a href="">23/02/12 일기장</a></li>
      <li><a href="">23/02/14 일기장</a></li>
      <li><a href="">23/02/16 일기장</a></li>
    </ul>

    <div>
      <h3>오늘의 일기</h3>
    </div>

    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo molestiae
      accusantium saepe sunt asperiores eos nulla quo voluptatibus et vitae!
      Odio aperiam doloribus dolore consequuntur incidunt, tempora placeat
      assumenda corrupti? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Hic voluptas eligendi blanditiis error illo sequi perspiciatis
      quam provident? Nisi eligendi odio porro. Dignissimos minus ipsa, ullam
      et maxime molestias nobis! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Illo molestiae accusantium saepe sunt asperiores eos
      nulla quo voluptatibus et vitae! Odio aperiam doloribus dolore
      consequuntur incidunt, tempora placeat assumenda corrupti? Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Hic voluptas eligendi
      blanditiis error illo sequi perspiciatis quam provident? Nisi eligendi
      odio porro. Dignissimos minus ipsa, ullam et maxime molestias nobis!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo molestiae
      accusantium saepe sunt asperiores eos nulla quo voluptatibus et vitae!
      Odio aperiam doloribus dolore consequuntur incidunt, tempora placeat
      assumenda corrupti? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Hic voluptas eligendi blanditiis error illo sequi perspiciatis
      quam provident? Nisi eligendi odio porro. Dignissimos minus ipsa, ullam
      et maxime molestias nobis! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Illo molestiae accusantium saepe sunt asperiores eos
      nulla quo voluptatibus et vitae! Odio aperiam doloribus dolore
      consequuntur incidunt, tempora placeat assumenda corrupti? Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Hic voluptas eligendi
      blanditiis error illo sequi perspiciatis quam provident? Nisi eligendi
      odio porro. Dignissimos minus ipsa, ullam et maxime molestias nobis!
    </div>
    <br />
    <div>
      <h4>
        제작자 <br />
        <a
          href="https://github.com/jisang99?tab=repositories"
          target="_blank"
          class="byname"
          >Created By<span>JISANG.E</span></a
        >
      </h4>
    </div>
  </div>

{% endblock %}